*
!.gitignore
!.tmux.conf
!.bashrc
!.zshrc
!.zpreztorc
!.zprezto/runcoms/zpreztorc
!.zprezto/runcoms/zshrc
!.profile
!.gitconfig
!.emacs.d/
!.emacs.d/*
!.emacs.d/*/*
!.emacs.d/snippets/*/*
!.vimrc
!.vim/
!.vim/*
!.vim/colors/*
