snippet it "it block"
it("${1:description}", function(${2:done}) {
	$0
	done()
})
endsnippet

snippet des "describe"
describe("${1:description}", function() {
	$0
})
endsnippet

snippet desit
describe("${1:description}", function() {
	it("${2:description}", function(${3:done}){
		$0
		${4:done()}
	})
})
endsnippet

snippet /* "multiline comment" !b
/**
 * $1
 */$0
endsnippet
